.card-collection{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid blue;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.standout{
  border:3px solid black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.npstandout{
  border:transparent
}
.card-collection{
  border: 1px solid blue;
}
.container{
  border: 1px solid teal;
}